doctype html
html
    head
        title Text-Based Game
        link(rel="stylesheet", href="/css/terminal.css")
        link(rel="stylesheet", href="/css/style.css")
        script(type="text/javascript", src="/js/index.js", defer)
    body
        #terminal
            div Initiating mainframe connection...
        div.input-container
            span.prompt &gt;&nbsp;
            input#user-input(type="text", placeholder="" autofocus)
