:root {
  --primary-color: black;
  --secondary-color: #727578; /* gray */
  --font-color: #58cd4d; /* hacker-man green */
  --invert-font-color: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
  color: #58cd4d;
  font-family: 'Courier New', monospace;
}

#terminal {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  scrollbar-width: thin;
}

.terminal-card > header {
  padding: 0 0
}

.terminal-card > div:first-of-type {
  padding: 0.25em 0.25em
}

#input-container {
  display: flex;
  align-items: center;
  background-color: var(--primary-color); /* Match terminal background */
  padding: 5px;
  border: 1px solid var(--secondary-color)
}

.prompt {
  color: var(--font-color); /* Match terminal text color */
  font-family: 'Courier New', monospace;
  user-select: none;
  user-focus-key: default;
}

#user-input {
  border: none;
  background-color: black;
  color: var(--font-color);
  font-family: 'Courier New', monospace;
  flex-grow: 1; /* Ensures input takes available space */
  outline: none; /* Removes default browser outline */
  padding: 5px 5px 5px 0; /* 5px pad on all sides but left */
}
